
/*//////////////////////////////////////////////////////////////////*/
/*ANIMATION*/
/*//////////////////////////////////////////////////////////////////*/

/* Ripple effect */

pre {
  background-position: center;
  transition: background 0.8s;
}
pre:hover {
  background: #e9ecef radial-gradient(circle, transparent 1%, #e9ecef 1%) center/15000%;
}
pre:active {
  /*background-color: #D5F5E3;*/
  background-color: #D2B4DE;
  background-size: 100%;
  transition: background 0s;
}
pre:active, code:active {
  cursor: copy !important;
}
/*//////////////////////////////////////////////////////////////////*/

/*FADE IN*/

 .fadeIn * {
    -webkit-animation: fadein 0.7s; /* Safari, Chrome and Opera  */
       -moz-animation: fadein 0.7s; /* Firefox  */
        -ms-animation: fadein 0.7s; /* Internet Explorer */
         -o-animation: fadein 0.7s; /* Opera  */
            animation: fadein 0.7s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox*/
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/*//////////////////////////////////////////////////////////////////*/

/*HOME CARD EFFECT*/

.vignetteContainer {
  height: 0;
  margin-top: 80px;
  text-align: center;
  
  display: flex;
  justify-content: space-around;
  position: relative;

  -webkit-transform: perspective(900px);
  -webkit-transform-style: preserve-3d;
}

.vignette {

  text-align:center;

  width: 300px;
  height: 450px;

  background: linear-gradient(rgb(225,150,58),rgb(227,144,91));
  
  transition:.6s;
  transform: rotatex(75deg) translatey(-200px) translatez(-100px);
  box-shadow: 0px 20px 60px rgba(0,0,0, 0.5);
}

.vignette1:hover,.vignette2:hover,.vignette0:hover{
  transform: rotatex(0deg);
  transform: rotatez(0deg);
  transition:.6s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
.vignette1 img ,.vignette2 img ,.vignette0 img {
  width:200px;
  height:120px;
  transform: translateY(15px);
}
.vignetteTitle {
  font-size:25px;
  color:rgb(255,255,255);
  text-shadow: 0 0 2px rgb(255,255,255);
  transform: translatey(10px);
}

.vignetteTxt {
  color: white;
  text-align:center;
  width:260px;
  transform: translatex(12px);
}
/*//////////////////////////////////////////////////////////////////*/

/*TEXT TYPING*/


.textTyping, .typingCase {
  margin: 0;
}

.textTyping {
  position: absolute; 
  left: 50%;
 
  transform: translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
}

/*UNDERSCORE CLIGNOTANT*/
.blinkingCursor {
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

/*//////////////////////////////////////////////////////////////////*/
/*FOOTER ICON*/
