/*TEXTE*/

/*FONT*/
/*header*/
.header {
  font-family: 'Sedgwick Ave Display', cursive;
}
/*lateral*/
.lateralTitle {
  font-size: 3rem;
  font-family: 'Sedgwick Ave Display', cursive;
  
  border : solid 3.5px black;
  border-radius : 5px;
  padding : 15px;
}

.title {
  font-size: 1.6rem;
}
.subTitle {
  font-size: 1.3rem;
}
.lasTitle {
  font-size: 1rem;
  font-family: 'Iceland', cursive;
  
}

.codeTitle, .codeDescription, .codeStep , .categorie{
  font-family: 'Iceland', cursive;

  cursor: default;
}
.codeTitle {
  font-size: 22px;
  cursor: default;

}
.codeDescription {
  font-size : 14px;
}
.codeStep {
  font-size : 15px;
  text-align: start;
  padding-left: 15vw;

}

.code {
  /*font-size : 20px;*/
  color: purple;  
}

/*DISABLE LINK STYLE*/
.header a:link, .lateral a:link, .sommaire a:link {
  color:black;
  text-decoration: none;
}

/*CONTENT*/
.categorie {
  text-decoration: underline;
}

/*MODAL*/
.lnkTitle {
  font-size: 18px;
  margin-top: 20px;
}
.lnkStyle {
  margin-top : 40px;
 font-size: 12px;
 color: blue; 
}

/*GENERIQUE*/

.contentSpace {
  margin: auto;
  width: max-content;
  cursor: pointer !important;
  padding: 10px;
}
