/*TEXTE*/
/*@import url('https://fonts.googleapis.com/css?family=Exo:700');*/
/*@import url('https://fonts.googleapis.com/css?family=Abel');*/
  /*font-family: 'Abel', sans-serif;*/


/*FONT*/
/*header*/
.header {
  /*font-family: 'Sedgwick Ave Display', cursive;*/
}
/*lateral*/
.lateralTitle {
  font-size: 3rem;
  font-family: 'Sedgwick Ave Display', cursive;
  
  border : solid 3.5px black;
  border-radius : 5px;
  padding : 15px;
}

.title {
  font-size: 1.6rem;
}
.subTitle {
  font-size: 1.3rem;
}
.lasTitle {
  font-size: 1rem;
  font-family: 'Iceland', cursive;
  
}

.codeTitle, .codeStep, .secondStep, .categorie {
  font-family: 'Iceland', cursive;
  cursor: default;
}
.codeTitle {
  font-size: 22px;
  cursor: default;
}
.codeDescription {
  font-size : 14px;
}
.codeStep {
  font-size : 15px;
  text-align: start;
  padding-left: 10vw;
  font-weight: 600;
}
.secondStep {
  font-size : 13px;
  text-align: start;
  padding-left: 15vw; 
}

.code {
  /*font-size : 20px;*/
  color: purple;  
}

/*DISABLE LINK STYLE*/
.header a:link, .lateral a:link, .sommaire a:link {
  color:black;
  text-decoration: none;
}

.link {
  color : purple;
  font-size: 11px;
}

/*CONTENT*/
.categorie {
  text-decoration: underline;
}

/*MODAL*/
.lnkTitle {
  font-size: 18px;
  margin-top: 20px;
}
.lnkStyle {
  margin-top : 40px;
 font-size: 12px;
 color: blue; 
}

/*MENU*/
.vignette {
  text-shadow: 1px 3px 3px rgba(255, 255, 255, 0.7);
  color: #555;
}
.vignetteTxt {
  font-size: 12px;
}
.binary {
  overflow-x: hidden;
  position: fixed;
  bottom:0;
  max-height: 6px;
  font-size: 1px;
  text-align: center;
}

 

/*TEXT TYPING*/

.textTyping, .blinkingCursor , .footerDuFooter {
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Helvetica',san-serif;
}


/*GENERIQUE*/

.homeCitations {
  /*font-family: 'Cinzel', serif;*/
  font-size: 15px;
}
.homeAuteur {
  font-family: 'Great Vibes', cursive;
  font-size: 42px;
}

.contentSpace {
  margin: auto;
  width: max-content;
  cursor: pointer !important;
  padding: 10px;
}

.dontouch, body:not(.code) {
  /*Not selected text*/
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; 
}