html {
  text-align: center;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  /*overflow-y: scroll;*/
}
/*MENU HEADER*/
.header { 
  display: flex;
  justify-content: space-around;
  
  position: fixed;
  top: 0;
  width: 100vw;
  height: 180px;
  z-index: 2;

  border-bottom: solid black 0.8px;
  background: white;
  transition: 1s;
}

.header * {
  color: black;
  margin: auto;
  transition: 1s;
}
.header *:hover {
  cursor: pointer; 
  color: #9fc9e0;
  transition: 0.5s;
}
.header {
  transition: 0.5s;
}

/*SIDE BARE MENU LATERAL*/
.lateral {
  position: fixed;
  /*display: grid;*/
  top: 0;

  z-index: 1;

  width: 3vw;
  height: 100vh;
  background: white;
  border-right: solid black 0.8px;
  overflow-y: scroll;
}
.lateral span , .lateral a {
  cursor: pointer;
}
.lateral img {
  pointer-events: none;
}
.lateral .lasTitle, .lateral h1 {
  color: purple;
 }
.lateral h1 {
  font-size: 3rem;
}
/*TEXTE FONT*/
.title {
  font-size: 1.6rem;
}
.subTitle {
  font-size: 1.3rem;
}
.lasTitle {
  font-size: 1rem;
}




/*CODE*/
pre, code {
  font-family: monospace, monospace;
  transition: 0.5s;
  width: 75vw;
}
pre {
  margin: auto;
  border : solid black 0.5px;
  border-radius: 3px;
  overflow: auto;
  background : #e9ecef;
  text-align: start;
  font-size: 11px;
}
pre > code {
  margin-left: 10px;
  display: block;
  padding: 1rem;
  word-wrap: normal;
}

/* Ripple effect */
pre {
  background-position: center;
  transition: background 0.8s;
}
pre:hover {
  background: #e9ecef radial-gradient(circle, transparent 1%, #e9ecef 1%) center/15000%;
}
pre:active {
  /*background-color: #D5F5E3;*/
  background-color: #D2B4DE;
  background-size: 100%;
  transition: background 0s;
}
pre:active, code:active {
  cursor: copy !important;
}

/*CONTENT*/
.categorie {
  text-decoration: underline;
}

.codeTitle, .codeDescription, .codeStep , .categorie{
  cursor: default;
}
.codeTitle {
  font-size: 22px;
  cursor: default;
}
.codeDescription {
  font-size : 14px;
}
.codeStep {
  font-size : 10px;
  text-align: start;
  padding-left: 15vw;
}






/*IMAGES*/
/*ICON*/
.goTop {
  position: fixed;
  z-index: 1;
  right: 3vw;
  bottom: 3vh;
  cursor: pointer;
}
.goTop img{
  width: 50px;
  height: 50px;
  transition: 0.5s;

  opacity: 0;
}
.goTop img:hover {
  width: 60px;
  height: 60px;
  transition: 0.5s;
  opacity: 1;
}
/*LATERAL*/
.lateralLOGO {
  display: flex;
  justify-content: center;
}
#lateralLOGO {
  width: 100px;
  height: 130px;
}
/*HOME*/
.categorieImg {
  transition: 0.3s;
  opacity: 1;
  position : fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.rabbitEggs {
  position : fixed;
  z-index: -1;
  top: 0;
  left : 2vw;
}


/*BASIC*/
.underline {
  text-decoration: underline;
}
.red * { 
  color : red !important;
}
.dbug {
  border : solid 4px red;
}
.finger {
  cursor : pointer;
}
.cursorDefault {
    cursor: default;
}

/*DISABLE STYLE*/
a:link {
  color:black;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

/*GHOST*/
.corps {
  color: purple;
  z-index: 0;
  scroll-behavior: 'smooth';
  margin-top: 20vh;
}

